*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  line-height: 1;
  height: 100vh;
  width: 100vw;
  color: #2c3e50;
  font-family: 'Montserrat', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: #fafafa;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.01);
}

ol,
ul,
li {
  list-style: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  outline: none;
}
